<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/TempFront/Productos/productos.css">
    <title>Tienda de Productos</title>
</head>
<body>
    <header id="menu">
        <img class="imgLogo"  src="/TempFront/imagenes_de_la_web/logo_Kraken Lures.jpg" alt="logo">
        
        <nav id="navegacion">
            <ul>
                <li><a href="../principal/index.html">Inicio</a></li>
                <li><a href="../Productos/productos.html">Productos</a></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <section id="login__compras">
            <a href="../login-kraken/KrakenLogin.html"><img class="imagen_header" src="../imagenes_de_la_web/usuario.png" alt="login"></a>
            <img class="imagen_header" id="carritoEmergentes" src="../imagenes_de_la_web/carrito-de-compras.png" alt="carrito">

            <div id="popup" class="popup">
                <div class="popup-content">
                    <div id="carritoContenido"></div>
                </div>
            </div>
        </section>
    </header>


    <section id="categorias">
        <h2 id="titulocategoria">Categorias</h2>
        <div class="icononos">
            <img class="imgcategorias" src="../imagenes_de_la_web/Categorias/cana-de-pesca.png" alt="">
        </div>
        <div class="icononos">
            <img class="imgcategorias"  src="../imagenes_de_la_web/Categorias/alicates.png" alt="">
        </div>
        <div class="icononos">
            <img class="imgcategorias"  src="../imagenes_de_la_web/Categorias/bichero.png" alt="">
        </div>
        <div class="icononos">
            <img class="imgcategorias"  src="../imagenes_de_la_web/Categorias/bolso.png" alt="">
        </div>
        <div class="icononos">
            <img class="imgcategorias"  src="../imagenes_de_la_web/Categorias/C_Guantes.png" alt="">
        </div>
        <div class="icononos">
            <img class="imgcategorias"  src="../imagenes_de_la_web/Categorias/carrete-de-pesca.png" alt="">
        </div>
        <div class="icononos">
            <img class="imgcategorias"  src="../imagenes_de_la_web/Categorias/chaleco-de-pesca.png" alt="">
        </div>
        <div class="icononos">
            <img class="imgcategorias"  src="../imagenes_de_la_web/Categorias/cuerda.png" alt="">
        </div>
        <div class="icononos">
            <img class="imgcategorias"  src="../imagenes_de_la_web/Categorias/lideresdepesca.png" alt="">
        </div>
        <div class="icononos">
            <img class="imgcategorias"  src="../imagenes_de_la_web/Categorias/gorra.png" alt="">
        </div>
        <div class="icononos">
            <img class="imgcategorias"  src="../imagenes_de_la_web/Categorias/senuelo.png" alt="">
        </div>
        <div class="icononos">
            <img class="imgcategorias"  src="../imagenes_de_la_web/Categorias/sombrero-de-pesca.png" alt="">
        </div>
    </section>

    <div class="container">
        <div class="main-content">
            <div class="product-container">
                <div id="pageIndicator"></div>
                <div class="product-grid" id="productGrid"></div>
                <div class="pagination">
                    <button id="btnAnterior">Anterior</button>
                    <button id="btnSiguiente">Siguiente</button>
                </div>
            </div>
        </div>
    </div>

    <footer id="pie__de__pagina">
        <div class="seccion__informacion">
            <h2 class="titulo__footer">MENÚ INFORMACIÓN</h2>
            <a class="informacion" href="">Centro de ayuda</a>
            <a class="informacion" href="">Terminos de uso</a>
            <a class="informacion" href="">Politica de garantia</a>
            <a class="informacion" href="">Venta mayorista</a>
        </div>
        <div class="seccion__informacion">
            <h2 class="titulo__footer">MENÚ PRINCIPAL</h2>
        
            <a class="informacion" href="#banner">Inicio</a>
            <a class="informacion" href="">Productos</a>
            <a class="informacion" href="">Promociones</a>
            <a class="informacion" href="">Contacto</a></div>
        <div>
            <img class="imgLogo"  src="/TempFront/imagenes_de_la_web/" alt="logo">
            <div id="redes">
            <img class="img__redes" src="../imagenes_de_la_web/facebook.png" alt="facebook">
            <img class="img__redes" src="..//imagenes_de_la_web/instagram.png" alt="instagram">
            <img class="img__redes" src="..//imagenes_de_la_web/whatsapp.png" alt="whatsapp">
        </div>
        </div>
    
    </footer>
    <div id="derechos">Copyrighy &copy; 2023 kraken-Lures store</div> 

    <script src="/TempFront/Productos/productos.js"></script>
</body>
</html>

