<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../principal/pedido.css">
    <link rel="stylesheet" href="/principal/index.css">

    <title>Facturacion</title>
  </head>
  <body>

    <header id="menu">
      <img class="logo-pequeno"  src="../imagenes_de_la_web/logo_Kraken Lures.jpg" alt="logo">
      
      <nav id="navegacion">
          <ul>
            <li><a href="/index">Salir</a></li>
          </ul>
      </nav>
      </header>

      <section id="seccion_registro">
        <div id="contenedor" class="filter">
            <h1 id="titulo_facturacion">Detalles de facturación</h1>
            <form class="row g-3">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="inputPrimerNombre" class="form-label">Primer nombre</label>
                        <input type="text" class="form-control" placeholder="Digita tu primer nombre" aria-label="Digita tu primer nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPrimerApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" placeholder="Digita tu apellido" aria-label="Digita tu apellido">
                    </div>
                </div>

                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Cedula </label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Provincia</label>
                    <input type="text" class="form-control" id="inputProvincia">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Canton</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Carrillo, Liberia, Santa Cruz, etc...">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress2" class="form-label">Distrito</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Palmira, etc...">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-6">
                    <label for="inputZip" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Estoy de acuerdo
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Finalizar compra</button>
                </div>
            </form>
        </div>
    </section>

    <div class="contenedor-productos">
        <div class="producto">
            <img src="ruta-a-la-imagen-del-producto" alt="Nombre del producto">
            <div class="detalle">
                <h3>Nombre del producto</h3>
                <p>Precio: $XX.XX</p>
                <p>Cantidad: X</p>
            </div>
            <p class="subtotal">$XX.XX</p>
        </div>
        <!-- Repetir este bloque para cada producto -->
    </div>

    <footer id="pie__de__pagina">
        <div class="seccion__informacion">
            <h2 class="titulo__footer">MENÚ INFORMACIÓN</h2>
            <a class="informacion" href="">Centro de ayuda</a>
            <a class="informacion" href="">Terminos de uso</a>
            <a class="informacion" href="">Politica de garantia</a>
            <a class="informacion" href="">Venta mayorista</a>
        </div>
        <div class="seccion__informacion">
            <h2 class="titulo__footer">MENÚ PRINCIPAL</h2>
        
            <a class="informacion" href="#banner">Inicio</a>
            <a class="informacion" href="">Productos</a>
            <a class="informacion" href="">Promociones</a>
            <a class="informacion" href="">Contacto</a></div>
        <div>
            <img class="imgLogo"  src="../imagenes_de_la_web/logo_Kraken Lures.jpg" alt="logo">
            <div id="redes">
            <img class="img__redes" src="../imagenes_de_la_web/facebook.png" alt="facebook">
            <img class="img__redes" src="../imagenes_de_la_web/instagram.png" alt="instagram">
            <img class="img__redes" src="../imagenes_de_la_web/whatsapp.png" alt="whatsapp">
        </div>
        </div>
    
    </footer>

  </body>
</html>