<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../principal/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Inicio kraken-Lures</title>
  </head>
  <body>

    <header id="menu">
      <img class="imgLogo"  src="../imagenes_de_la_web/logo_Kraken Lures.jpg" alt="logo">
      
      <nav id="navegacion">
          <ul>
              <li><a href="/index">Inicio</a></li>
              <li><a href="/productos">Productos</a></li>
              <li><a href="#">Promociones</a></li>
              <li><a href="#">Contacto</a></li>
          </ul>
      </nav>

      <section id="login__compras">
          <a href="/loginKraken"><img class="imagen_header" src="../imagenes_de_la_web/usuario.png" alt="login"></a>
          <img class="imagen_header" id="carritoEmergentes" src="../imagenes_de_la_web/carrito-de-compras.png" alt="carrito">

            <div id="popup" class="popup">
                <div class="popup-content">
                    <div id="carritoContenido"></div>
                </div>
            </div>
      </section>
  </header>

      
      <div id="banner" class="container-fluid"></div>


      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/berkley.png" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/abu-garcia.png" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/fishing-l (2).jpg" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/fishing-l (3).jpg" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/images.png" alt="...">
          </div>
          <div class="carousel-item">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/fishing-l (1).jpg" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/marcafishingclub.jpg" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/marcacompany.jpg" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/logo-MP-200X2.jpg" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/marcaslogan.jpg" alt="...">
          </div>
          <div class="carousel-item">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/marcacinnetic.png" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/penn.png" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/marcahart.png" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/marcashimano.png" alt="...">
            <img class="imgcarousel d-block w-100" src="../imagenes_de_la_web/istockphoto-1.jpg" alt="...">
          </div>
        </div>
      </div>



      <div id="productosDestacadosContainer"></div>


    <section id="seccion__delivery">
        <div id="imagen__delivery"><img src="../imagenes_de_la_web/delivery-men-.jpg" alt="imagen ilustrativa"></div>
        <div id="leyendas__delivery">
        <h1 id="titulo__delivery">ENVÍO A DOMICILIO</h1>
        <p id="parrafo__delivery">Al realizar su pedido elije el método de envío que más le convenga.
             Las compras mayores a 30.000 o $50 califican para envío GRATIS</p>
    
             <a href=""><button id="boton_de_informacion">Más información</button></a>
    </div>
    </section>


    
    
    <footer id="pie__de__pagina">
        <div class="seccion__informacion">
            <h2 class="titulo__footer">MENÚ INFORMACIÓN</h2>
            <a class="informacion" href="">Centro de ayuda</a>
            <a class="informacion" href="">Terminos de uso</a>
            <a class="informacion" href="">Politica de garantia</a>
            <a class="informacion" href="">Venta mayorista</a>
        </div>
        <div class="seccion__informacion">
            <h2 class="titulo__footer">MENÚ PRINCIPAL</h2>
        
            <a class="informacion" href="#banner">Inicio</a>
            <a class="informacion" href="">Productos</a>
            <a class="informacion" href="">Promociones</a>
            <a class="informacion" href="">Contacto</a></div>
        <div>
            <img class="imgLogo"  src="../imagenes_de_la_web/logo_Kraken Lures.jpg" alt="logo">
            <div id="redes">
            <img class="img__redes" src="../imagenes_de_la_web/facebook.png" alt="facebook">
            <img class="img__redes" src="..//imagenes_de_la_web/instagram.png" alt="instagram">
            <img class="img__redes" src="..//imagenes_de_la_web/whatsapp.png" alt="whatsapp">
        </div>
        </div>
    
    </footer>
    <div id="derechos">Copyrighy &copy; 2023 kraken-Lures store</div> 

    <script src="../principal/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>



